@font-face {
  font-family: mono;
  src: url(../assets/fonts/kodemono.ttf);
}
* {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  overflow: hidden;
  width: 100dvw;
  height: 100dvh;
  background-color: black;
  color: white;
  font-family: mono;
}

body #everest_tty {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
}
body #env {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  pointer-events: none;
}
body #env #desktop, body #env #windowmanager {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  pointer-events: none;
}
body #env #desktop *, body #env #windowmanager * {
  pointer-events: auto;
}
body #env #desktop > :first-child, body #env #windowmanager > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}