#taskbar 
{
    position: absolute;
    bottom: calc(var(--taskbar-margin) - 1px);
    // left: calc(var(--taskbar-margin) - 1px);
    left: 50%;
    width: calc((100% - var(--taskbar-margin)*2) - 1px);
    height: var(--taskbar-height);
    padding: 1px;

    transform: translateX(-50%);

    border-style: solid;
    border-width: 0;
    border-width: var(--taskbar-border-width);
    border-radius: var(--taskbar-corner-radius);
    // border-bottom-left-radius: 0;
    // border-bottom-right-radius: 0;
    contain: content;

    background-color: var(--taskbar-color-background);
    border-color: var(--taskbar-color-border);

    > *
    {
        margin: 0;
        padding: 0;
    }

    #launcher
    {
        position: absolute;
        top: 0;
        left: 0;
        width: var(--taskbar-height);
        height: var(--taskbar-height);

        background-color: transparent;
        border: 0px transparent solid;

        font-size: 15px;

        > img
        {
            position: absolute;
            top: 2px;
            left: 2px;
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            object-fit: contain;
            margin: 0;

            user-select: none;
            pointer-events: none;
        }

        &:hover 
        {
            background-color: rgba(255,255,255,.2);
        }
    }

    #programs
    {
        position: absolute;
        top: 0;
        left: var(--taskbar-height);
        width: calc(100% - var(--taskbar-height) - var(--taskbar-tray-width));
        height: 100%;
    }

    #tray
    {
        position: absolute;
        top: 0;
        right: 0;
        width: var(--taskbar-tray-width);
        height: 100%;

        margin: 0;
        padding: 0;

        #utils
        {
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100% - var(--taskbar-tray-clock-width));
            height: 100%;
        }

        #clock
        {
            position: absolute;
            top: 0;
            right: 0;
            width: var(--taskbar-tray-clock-width);
            height: 100%;
            margin-right: 4px;
            font-size: 14px;

            span
            {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 50%;
                margin: 0;
                padding: 0;
                text-align: center;
                
                display: inline-flex;
                align-items: end;
                justify-content: right;

                &:last-child
                {
                    align-items: baseline;
                    top: 50%;
                }
            }
        }
    }

}