@keyframes _loading__show {
    0%
    {
        display: initial;
        opacity: 0;
        z-index: 9999;
    }

    100%
    {
        opacity: 1;
        z-index: 9999;
    }
}
@keyframes _loading__hide {
    0%
    {
        display: initial;
        opacity: 1;
        z-index: 9999;
    }

    99%
    {
        display: initial;
    }

    100%
    {
        display: none;
        opacity: 0;
        z-index: -1;
    }
}

*
{
    user-select: none;
    font-family: main;
    color: var(--desktop-color-text);

    &::-webkit-scrollbar
    {
        opacity: 1;
        width: 12px;
    }
    &::-webkit-scrollbar-track
    {
        // background-color: var(--colors-panel-bg-dark);
        background-color: #00000011;
    }
    &::-webkit-scrollbar-thumb
    {
        background-color: #00000066;
        border-radius: 10px;
    }
}

#_loading 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,.6);

    animation-fill-mode: forwards;
    animation-duration: 500ms;

    // z-index: 9999;

    > img
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 256px;
        height: 256px;
    }
}






#e_contextMenu
{
    position: fixed;
    padding: 8px;

    min-width: 128px;

    background-color: var(--colors-panel-bg);

    border: 1px var(--colors-accent) solid;
    border-radius: 10px;

    display: flex;
    flex-direction: column;

    z-index: 99999;

    > button
    {
        flex-grow: 1;

        background-color: transparent;
        border: none;
        line-height: 32px;

        transition: 50ms ease-in-out;

        &:hover
        {
            background-color: #ffffff33;
            color: var(--colors-text-hover);
        }

    }
    
    &.hidden
    {
        display: none;
    }
}